.photo {
  width: 100%;
  max-width: 600px;
  margin: 60px auto;
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}

.photo .photo__header {
  height: 60px;
  padding: 16px;
  display: flex;
  align-items: center;
}

.photo .photo__header img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.photo .photo__header .photo__username {
  font-size: 14px;
  font-weight: 600;
}

.photo .photo__image img {
  display: block;
  max-width: 100%;
}

.photo__info {
  padding: 0 16px;
}

.photo__actions button {
  background-color: transparent;
  border: 0;
  height: 40px;
  padding: 8px;
  margin-top: 4px;
  font-size: 24px;
  cursor: pointer;
}

.photo__actions:first-child button:first-child:active {
  color: red;
}

.photo__info .photo__actions button:first-child {
  margin-left: -8px;
}

.photo__likes {
  display: block;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
}

.photo__comment {
  font-size: 14px;
  line-height: 1.6;
}

.photo__comment a {
  color: #3897f0;
}

.photo__comment .photo__comment-author {
  font-weight: 600;
  margin-right: 6px;
}

.photo__date {
  color: #999;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
}

.photo__add-comment {
  border: 0;
  border-top: 1px solid #e6e6e6;
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.photo__add-comment textarea {
  width: 95%;
  border: none;
  padding: 16px 26px 16px 0;
  font-size: 14px;
  resize: none;
}

.photo__add-comment textarea:focus {
  outline: none;
}

.photo__add-comment button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 6px;
  font-size: 24px;
}
