body {
  background-color: #fafafa;
  font-family: 'Open Sans', sans-serif;
}

input:focus {
  outline: none;
}

button:focus {
  outline: none;
}

main {
  animation: .5s popIn ease-out;
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
