.navigation {
  /*position: fixed;*/
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.navigation__links {
  font-size: 24px;
  margin-left: 20px;
  color: rgba(0, 0, 0, 0.5)
}

.navigation__input {
  padding: 5px 40px;
  font-size: 14px;
  text-align: center;
  color: #999;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fafafa;
}

.navigation__icons .fa-heart-o {
  animation: 1.2s test2 infinite linear;
}

@keyframes test2 {
  from {
    transform: scale(0.8, 0.8);
  }
  to {
    color: #fb3958;
    transform: scale(1.2, 1.2);
  }
}
