.navigation {
  /*position: fixed;*/
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  background-color: white;
  border-bottom: 1px solid #e6e6e6;
}

.navigation__links {
  font-size: 24px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.5)
}

.navigation__input {
  padding: 5px 40px;
  font-size: 14px;
  text-align: center;
  color: #999;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: #fafafa;
}
