.profile {
  width: 100%;
  max-width: 935px;
  margin: 60px auto;
}

.profile .profile__header {
  display: flex;
  align-items: center;
}

.profile__header--thumb {
  margin: auto 70px;
}

.profile__header--thumb img {
  width: 152px;
  height: 152px;
  border-radius: 50%;
}
