.profile {
  width: 100%;
  max-width: 935px;
  margin: 60px auto;
}

.profile .profile__header {
  display: flex;
  align-items: center;
  margin-bottom: 44px;
}

.profile__header--column {
  margin-right: 30px;
}

.profile__header--thumb {
  margin: 0 75px;
}

.profile__header--thumb img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.profile__image img {
  width: 300px;
  height: 300px;
}

.profile__name {
  display: flex;
  align-items: center;
}

.profile__name h3 {
  font-size: 32px;
  line-height: 40px;
}

.profile__name a {
  margin-left: 20px;
}

.profile__name button {
  height: 28px;
  padding: 0 24px;
  margin-right: 6px;
  border: 0;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.profile__name i {
  font-size: 24px
}
